@mixin text-overflow-ellipsis($max-width: 100%) {
  max-width: $max-width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin transparent-button(
  $button-padding-horizontal: 15px,
  $button-padding-vertical: 8px
) {
  padding-left: $button-padding-horizontal;
  padding-right: $button-padding-horizontal;
  padding-top: $button-padding-vertical;
  padding-bottom: $button-padding-vertical;

  border: none;
  background-color: transparent;
  cursor: pointer;

  outline: none;
  &:focus {
    outline: none;
  }
}

@mixin transition($duration: 0.3s) {
  transition: all $duration ease-out;
}
