@import "../../../resources/mixins/index.scss";

$info-card-max-width: 300px;
$wrapper-size: 20px;

.info-card-with-show-more {
  max-width: $info-card-max-width;
  padding: $wrapper-size;

  display: flex;
  flex-direction: column;
  align-items: center;

  .info-card-with-show-more-image {
  }

  .info-card-with-show-more-text-name {
    text-align: center;
    font-size: 18px;

    @include text-overflow-ellipsis($info-card-max-width - $wrapper-size * 2);
  }
}
