$wrapper-size: 20px;

.blocks-of-cards-with-show-more {
  max-width: calc(100% - #{$wrapper-size * 2});
  padding: $wrapper-size;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  font-family: Helvetica, Arial, sans-serif;

  margin-top: 0;
  margin-bottom: 0;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
